DB_USER=username
DB_PASSWORD=password
DB_NAME=db
DB_TLS=false

POSTGRES_URL=postgres://username:password@localhost:5432/db-name

ENC_KEY=KEY-HERE
CSRF_SECRET_KEY=KEY-HERE

STORAGE_ACCESS_KEY_ID=minioadmin
STORAGE_SECRET_ACCESS_KEY=minioadmin
STORAGE_ENDPOINT=http://localhost:9000
STORAGE_PUBLIC_URL=http://localhost:9000
STORAGE_REGION=us-east-1
STORAGE_BUCKET=credentials
MINIO_USENAME=minioadmin // need for login only
MINIO_PASSWORD=minioadmin // need for login only

# supabase storage keys

# Uncomment these and comment the local ones (minio) when testing:
# STORAGE_ACCESS_KEY_ID=keys
# STORAGE_SECRET_ACCESS_KEY=keys
# STORAGE_ENDPOINT=keys
# STORAGE_PUBLIC_URL=keys
# STORAGE_REGION=keys
# STORAGE_BUCKET=keys

FRONTEND_APP=http://localhost:3000
BACKEND_APP=http://localhost:8000
NODE_ENV=
