ENC_KEY=PASTE-THE-KEY
CSRF_SECRET_KEY=PASTE-THE-KEY

PORT=8000

# ── Storage (local MinIO via podman compose) ──────────────────────
STORAGE_ACCESS_KEY_ID=minioadmin
STORAGE_SECRET_ACCESS_KEY=minioadmin
STORAGE_ENDPOINT=http://localhost:9000
STORAGE_PUBLIC_URL=http://localhost:9000
STORAGE_REGION=us-east-1
STORAGE_BUCKET=credentials
MINIO_USENAME=minioadmin // need for login only, when try to view webui
MINIO_PASSWORD=minioadmin // need for login only, when try to view webui

FRONTEND_APP=http://localhost:3000
BACKEND_APP=http://localhost:8000
NODE_ENV=development
