POSTGRES_URL=neon-db-connection-string-here

# Database — point to a Neon branch (not production)
DB_HOST=ep-your-branch.us-east-2.aws.neon.tech
DB_PORT=5432
DB_USER=your-neon-user
DB_PASSWORD=your-neon-password
DB_NAME=credets_db
DB_TLS=true

# Encryption — use the SAME keys as production
ENC_KEY=prod-key
CSRF_SECRET_KEY=prod-key

# Server
PORT=8000
NODE_ENV=production

# CORS — allow local frontend
FRONTEND_APP=http://localhost:3000
BACKEND_APP=http://localhost:8000

STORAGE_ACCESS_KEY_ID=minioadmin
STORAGE_SECRET_ACCESS_KEY=minioadmin
STORAGE_ENDPOINT=http://localhost:9000
STORAGE_PUBLIC_URL=http://localhost:9000
STORAGE_REGION=us-east-1
STORAGE_BUCKET=credentials
MINIO_USENAME=minioadmin // need for login only
MINIO_PASSWORD=minioadmin // need for login only
